.field-item {
  display: flex;
  height: 32px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;

  .label {
    width: 80px;
    word-wrap: break-word;
  }

  .field-content {
    flex: 1;

    .ant-radio-button-wrapper {
      font-size: 12px;
    }
  }
}
