.options-wrapper {
  overflow: hidden auto;
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  border: 1px solid #eee;
  background-color: #fff;

  .ant-collapse-header {
    background-color: #f3f3f3;
  }

  .ant-collapse-content-box {
    background-color: #fff;
  }
}
