.chart-panel {
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent;

  .icons {
    position: absolute;
    top: -18px;
    right: -1px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    background-color: blue;
    color: #fff;

    svg {
      margin-left: 4px;
      cursor: pointer;
    }
  }
}

.panel-selected {
  border: 1px solid blue;
}
