.drop-container {
  position: relative;
  min-width: 600px;
  height: 100%;

  .empty {
    padding: 20px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
    text-align: center;
  }

  .is-over {
    background-color: lightblue;
  }
}

