.chart-render-container {
  position: relative;
}

.display-grid {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(300px, auto);
}

.column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.column-3 {
  grid-template-columns: repeat(3, 1fr);
}

.column-4 {
  grid-template-columns: repeat(4, 1fr);
}
